* {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FBC707;
}

header a {
    text-decoration: none;
}

header {
    width: 100vw;
}

.Navbar {
    width: 100%;
    height: auto;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(100px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 9999;
}

.logo {
    width: 160px;
    height: 58px;
}

.Frame2648 {
    flex: 1;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 12px;
}

.Menu {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 12px;
}

.ALink,
.contact {
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    color: #010200;
}

.contact {
    padding: 5px 20px;
    background: #fbc707;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.toggle-button {
    display: none;
    font-size: 24px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 1.5px #010200 solid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.back-button-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    cursor: pointer;
}

@media (max-width: 768px) {

    .title-details,
    .description-details {
        text-align: center;
    }

    .back-button-details {
        display: none;
        opacity: 0;
    }

    .top {
        margin-top: 84px !important;
        height: calc(100% - 84px) !important;
        flex-direction: column-reverse;
        background-position: top left, bottom right !important;
        background-size: 105px 202px !important;
    }

    .Frame2651 {
        gap: 30px;
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
        width: 100%;
    }

    .Left {
        display: flex;
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
        gap: 30px !important;
        padding-inline: 20px;
    }

    .Text {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Menu {
        display: none;
    }

    .Menu.active {
        display: flex;
    }

    .toggle-button {
        display: inline-flex;
    }

    .Frame2648 {
        justify-content: space-between;
        padding-inline: 20px;
    }

    .Htw,
    .Productlist,
    .Partner {
        height: 100% !important;
    }

    .fixed-bottom-details {
        width: auto !important;
        position: fixed !important;
        bottom: 0;
        left: 0;
        right: 0;
        background: white;
        box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
        border-radius: 20px 20px 0px 0px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        z-index: 1000;
    }

    .frame-details {
        width: 100%;
    }

    #boLast{
        width: 30%;
    }
    #boFirst{
        width: 50%;
    }

    
}

.ALink {
    height: 43px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.ALink:hover .txt {
    background-color: #b5afb0;
    border-radius: 8px;
}

.txt {
    align-self: stretch;
    text-align: center;
    color: #010200;
    padding: 4px 10px;
    font-size: 15px;
    font-weight: 700;
    word-wrap: break-word;
}

.contact {
    padding: 5px 20px;
    background: #fbc707;
    border-radius: 30px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    gap: 5px;
}



/*  */

.mainContent{
    width: calc(100vw - 4rem);
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}

.mainContent p, .mainContent b{
    font-size: 1rem;
    
}
@media (max-width: 768px) {        
    .mainContent p, .mainContent b{
        font-size: 0.7rem;
    }
    .mainContent h1{
        font-size: 1.2rem;
    }
}

.btnOptions{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.btnOptions b{
    background-color: #379777;
    padding: 0.3rem 1rem;
    border-radius: 1rem;
    border: 1px solid black;
    color: white;
    cursor: pointer;
}
.btnOptions b:hover{
    color: black;
}

.BackObject{
    position: relative;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#boFirst{
    position: absolute;
    right: 0;
    bottom: 0;
}
#boLast{
    position: absolute;
    left: 0;
    top: 70px;
}

