* {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

a {
  text-decoration: none;
}
header {
  width: 100vw;
}
.Navbar {
  width: 100%;
  height: auto;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(100px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  z-index: 9999;
}

.logo {
  width: 160px;
  height: 58px;
}

.Frame2648 {
  flex: 1;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 12px;
}

.Menu {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
}

.ALink,
.contact {
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
  color: #010200;
}

.contact {
  padding: 5px 20px;
  background: #fbc707;
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.toggle-button {
  display: none;
  font-size: 24px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: 1.5px #010200 solid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .top {
    flex-direction: column-reverse;
    background-position: top left, bottom right !important;
    background-size: 105px 202px, 337px 337px !important;
  }
  .Frame2651 {
    gap: 30px;
    flex-direction: column-reverse;
    width: 100%;
  }

  .Left {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    gap: 30px !important;
    padding-inline: 20px;
  }

  .Text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .Menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100vh;
    padding: 10px 0;
    gap: 10px;
    z-index: 1000;
  }

  .Menu.active {
    display: flex;
  }

  .toggle-button {
    display: inline-flex;
  }

  .Frame2648 {
    justify-content: space-between;
    padding-inline: 20px;
  }

  .Htw,
  .Productlist,
  .Partner {
    height: 100% !important;
  }
}

.ALink {
  height: 43px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.ALink:hover .txt {
  background-color: #b5afb0;
  border-radius: 8px;
}

.txt {
  align-self: stretch;
  text-align: center;
  color: #010200;
  padding: 4px 10px;
  font-size: 15px;
  font-weight: 700;
  word-wrap: break-word;
}

.contact {
  /* width: 121px; */
  padding: 5px 20px;
  background: #fbc707;
  border-radius: 30px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  gap: 5px;
}

.Vector {
  width: 15px;
  height: 14.46px;
  background: #010200;
}

.Homecontent {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.top {
  margin-top: 84px;
  height: calc(100vh - 84px);
  width: 100%;
  /* max-width: 1280px; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../images/Rectangle10.png'),
    url('../images/Rectangle.png');
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom right;
  background-size: 198px 380px, 674px 674px;
}

img .Rectangle6 {
  position: absolute;
  left: 0;
  top: 0;
  background: #fbc707;
}

.Frame2651 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
}

.Left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

.Text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @media (max-width: 768px) {
    align-items: center;
    justify-content: center;
  }
}

.main-image {
  flex: 1;
  max-width: 70%;
  height: auto;
  object-fit: contain;
}
.BanunaWijenFrozen {
  color: #010200;
  font-size: 50px;
  font-weight: 900;
  @media (max-width: 768px) {
    text-align: center;
    font-size: 30px;
    font-weight: 800;
  }
}

.p-text {
  color: #010200;
  font-size: 20px;
  font-weight: 300;
  width: 100%;
  @media (max-width: 768px) {
    text-align: center;
    font-size: 10px;
  }
}

.Button {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

button {
  border: none;
  cursor: pointer;
  gap: 10px;
  height: 42px;
  width: 190px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #010200;
  font-size: 12px;
  font-weight: 900;
  box-shadow: 0px 1px 4px rgba(1, 2, 0, 0.3);
}

button:hover {
  border: 1px solid #010200;
}

.Mediacontact {
  display: flex;
  gap: 15px;
}

.Item {
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 5px;
  background: white;
  box-shadow: 0px 1px 4px rgba(1, 2, 0, 0.3);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Item:hover {
  background-color: #fbc707;
}

.Htw {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.Frame2816 {
  height: 100%;
  max-width: 890px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.Tagline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 270px;
}

.LayananKami {
  text-align: center;
  color: #fbc707;
  font-size: 15px;
  font-family: Poppins;
  font-weight: 900;
  word-wrap: break-word;
}

.BagaimanaCaraKerjanya {
  text-align: center;
  color: #010200;
  font-size: 30px;
  font-family: Poppins;
  font-weight: 900;
  word-wrap: break-word;
}

.List {
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px;
  @media (max-width: 768px) {
    justify-content: center;
    align-items: center;
  }
}

.Screenshot158NeroAiBackgroundRemover2,
.Screenshot159RemovebgPreview2 {
  width: 149.28px;
  height: 150px;
}

.PemesananMudah,
.Pengiriman,
.KualitasTerbaik {
  align-self: stretch;
  text-align: center;
  color: #010200;
  font-size: 15px;
  font-family: Poppins;
  font-weight: 900;
  word-wrap: break-word;
}

.KamuHanyaMemerlukanBeberapaLangkahUntukMelakukanPemesanan,
.BisaKirimSampaiRumahAtauCodDiTempatYangDisepakati,
.KualitasProdukSangatKamiPrioritaskanUntukKenyamananKenyamananAnda {
  align-self: stretch;
  text-align: center;
  color: #010200;
  font-size: 10px;
  font-family: Poppins;
  font-weight: 300;
  word-wrap: break-word;
}

.Productlist {
  width: 100%;
  height: 100%;
  /* padding: 70px 20px; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  display: inline-flex;
  background-image: url('../images/Rectangle11.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 247.45px 381.95px;
  @media (max-width: 768px) {
    background-size: 182px 281px;
  }
}

.Frame2819 {
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  display: flex;
}

.section-title {
  padding: 10px 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  @media (max-width: 768px) {
    max-width: 362px;
  }
}

.top-title,
.btm-title {
  text-align: center;
  font-family: Poppins;
  font-weight: 800;
  word-wrap: break-word;
  @media (max-width: 768px) {
    text-align: start;
  }
}

.top-title {
  color: #fbc707;
  font-size: 15px;
}

.btm-title {
  color: #010200;
  font-size: 30px;
  @media (max-width: 768px) {
    font-size: 20px;
  }
}

.Card {
  width: 180px;
  background: white;
  box-shadow: 0px 1px 5px rgba(1, 2, 0, 0.3);
  border-radius: 14px;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  transition: all 0.4s ease-in-out;
}
.Card:hover {
  cursor: pointer;
  transform: translateY(-2px) scale(1);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
  opacity: 0.9;
  transition-delay: 0.1s;
}
.card-image {
  width: 180px;
  height: 222px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.card-image img {
  width: 100%;
  height: 222px;
  object-fit: contain;
}

.Frame2812 {
  align-self: stretch;
  padding: 10px 5px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  display: flex;
}

.Frame2657 {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.WijenOriginal,
.PisangDenganTaburanWijen {
  align-self: stretch;
  color: #010200;
  font-family: Poppins;
  word-wrap: break-word;
}

.WijenOriginal {
  font-size: 15px;
  font-weight: 700;
}

.PisangDenganTaburanWijen {
  font-size: 10px;
  font-weight: 300;
}

.Frame2813 {
  align-self: stretch;
  padding: 0 5px;
  justify-content: space-between;
  align-items: center;
  display: inline-flex;
}

.Rp12000 {
  text-align: center;
  color: #010200;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 500;
  word-wrap: break-word;
}

.Btnjoin {
  background-color: #fdf8e2;
}

.Btnbeli {
  cursor: pointer;
  padding: 4px 20px;
  background: linear-gradient(93deg, #fdfe72 0%, #fbc707 65%);
  box-shadow: 0px 1px 4px rgba(1, 2, 0, 0.3);
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
}

.Btnbeli:hover {
  background: #fbc607c5;
}

.Beli {
  color: #010200;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 700;
  word-wrap: break-word;
}

.Partner {
  width: 100%;
  height: 100%;
  min-height: 50vh;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-image: url('../images/Rectangle12.png');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 198px 380px;
  @media (max-width: 768px) {
    background-size: 140px 270px;
    min-height: 70vh;
    padding-block: 20px;
  }
}

.PartnerContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.PartnerResmi {
  text-align: center;
  color: #fbc707;
  font-size: 15px;
  font-family: Poppins;
  font-weight: 900;
  word-wrap: break-word;
}

.OutletPartnerBanuna {
  text-align: center;
  color: #010200;
  font-size: 30px;
  font-family: Poppins;
  font-weight: 900;
  word-wrap: break-word;
}

.OutletList {
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.HorizontalCard {
  height: auto;
  width: 360px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
}

.Daingmart,
.Azqillamart,
.Rorastore {
  /* width: 100px;
  height: 100px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.HorizontalDetails {
  flex: 1 1 0;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
}

.TopDetails {
  align-self: stretch;
  /* height: 53px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.BtmDetails {
  align-self: stretch;
  /* height: 50px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
}

.Link {
  color: #010200;
  font-size: 10px;
  font-family: Poppins;
  font-weight: 400;
  text-decoration: underline;
  line-height: 24px;
  word-wrap: break-word;
}

.Vector {
  background: #010200;
}

.JlYasirHadiBroto {
  flex: 1 1 0;
  color: #010200;
  font-size: 10px;
  font-family: Poppins;
  font-weight: 300;
  word-wrap: break-word;
}
.testimoni {
  width: 1280px;
  height: 639px;
  padding: 70px 20px;
  justify-content: center;
  align-items: center;
  gap: 50px;
  display: inline-flex;
}

.Frame2820 {
  height: 499px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.Basicdetailcarrousel {
  width: 278px;
  border-radius: 20px;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: inline-flex;
}

.Frame2772 {
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  display: inline-flex;
}

.Photo202411281837461,
.Photo202411281838181,
.Photo202411281838041 {
  width: 278px;
  height: 444px;
}

.Frame2769 {
  align-self: stretch;
  padding: 15px;
  background: white;
  justify-content: space-between;
  align-items: center;
  display: inline-flex;
}

.Arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 1500%);
  animation: arrowIdle 4s infinite ease-in-out alternate;
}

@keyframes arrowIdle {
  0%,
  100% {
    transform: translate(-50%, 1500%) translateY(0);
  }
  50% {
    transform: translate(-50%, 1500%) translateY(-15px);
  }
}

.Vector {
  width: 13.99px;
  height: 12px;
  background: white;
}

.Frame2664 {
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
  display: flex;
}

.Rectangle53 {
  width: 34px;
  height: 15px;
  background: #fbc707;
  border-radius: 100px;
}

.Ellipse7,
.Ellipse3 {
  width: 15px;
  height: 15px;
  background: #379777;
  border-radius: 9999px;
}

.Frame2774 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 50px;
  display: inline-flex;
}

.Feedback {
  text-align: center;
  color: #fbc707;
  font-size: 15px;
  font-family: Poppins;
  font-weight: 900;
  word-wrap: break-word;
}

.TestimoniPelangganBanuna {
  text-align: center;
  color: #010200;
  font-size: 30px;
  font-family: Poppins;
  font-weight: 900;
  word-wrap: break-word;
}

.Baner {
  width: 526px;
  height: 180px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.Frame2665 {
  width: 526px;
  padding: 10px 236px;
  background: white;
  backdrop-filter: blur(12px);
  justify-content: space-between;
  align-items: center;
  display: inline-flex;
}

.NikmatiKenikmatanPisangGorengWijenBekuHalalBpomCamilanAmanUntukSemua {
  width: 357px;
  color: #010200;
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
}

.Frame61 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 47px;
}

.Heading5 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
}

.TautanCepat,
.Kontak,
.LokasiKami {
  color: #010200;
  font-size: 24px;
  font-weight: 700;
}

.ItemLink {
  padding-bottom: 1px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.Frame62 {
  flex: 1 1 0;
  height: 157px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 10px;
}

.Frame2683 {
  align-self: stretch;
  padding: 20px 0;
  background: #fff2cc;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.copyrightbanunawijen {
  text-align: center;
  color: #010200;
  font-size: 10px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 24px;
}

.footer {
  width: 100%;
  background-color: #fff2cc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background {
  width: 100%;
  max-width: 1280px;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 767px) {
    width: auto;
    padding: 20px;
  }
}

.frame {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.frame2686 {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.heading5 {
  display: flex;
  flex-direction: column;
}

.description {
  width: 357px;
  font-size: 12px;
  font-family: Poppins, sans-serif;
  font-weight: 300;
  line-height: 24px;
  color: #010200;
}

.media-contact {
  display: flex;
  gap: 15px;
}

.item {
  width: 40px;
  height: 40px;
  padding: 5px;
  background: #fff;
  box-shadow: 0 1px 4px rgba(1, 2, 0, 0.3);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item.instagram {
  background-color: #010200;
}

.item.facebook {
  background-color: #000;
}

.item.whatsapp {
  background-color: #25d366;
}

.frame-links {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.title {
  font-size: 24px;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  color: #010200;
}

.list {
  list-style: none;
  padding: 0;
}
.list li {
  font-size: 12px;
  font-family: Poppins, sans-serif;
  color: #010200;
  line-height: 24px;
}

#testimoniesSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  height: 150vh;
}

.feedback-contents {
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media (max-width: 768px) {
    height: 100%;
  }
}

.feedback-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 890px;
  width: 100%;
  gap: 2rem;
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding-inline: 20px; */
  }
}

.carousel-case {
  width: 100%;
  max-width: 278px;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
}

.carousel-image {
  height: 400px;
  /* width: 278px; */
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.carousel-image img {
  width: auto;
  height: auto;
  object-fit: cover;
}

.carousel-controls {
  width: auto;
  z-index: 1;
  /* bottom: 0px; */
  padding: 15px;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carousel-buttons {
  display: flex;
  gap: 0.5rem;
}

.carousel-button {
  width: 2rem;
  height: 2rem;
  background-color: rgb(103, 103, 103);
  color: white;
  cursor: pointer;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-bullets {
  display: flex;
  gap: 0.5rem;
}

.carousel-bullets .carousel-bullet {
  width: 1rem;
  height: 1rem;
  background-color: rgb(19, 151, 129);
  border-radius: 1rem;
}

.feedback-content {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-inline: 20px;
}

.feedback-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.feedback-details div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feedback-author {
  font-weight: bold;
  font-size: 1.1rem;
}

.feedback-bullets {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  justify-content: center;
}

.feedback-bullets .feedback-bullet {
  width: 1rem;
  height: 1rem;
  background-color: rgb(19, 151, 129);
  border-radius: 1rem;
}

.carousel-bullets .carousel-bullet.bullet-active {
  width: 2rem;
  background-color: orange;
}

.feedback-submit-case {
  height: 40vh;
  width: 100%;
  max-width: 890px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feedback-submit-case p {
  max-width: 500px;
  font-size: 12px;
  text-align: center;
  @media (max-width: 768px) {
    max-width: 362px;
  }
}

.feedback-submit-case .submit-input {
  width: 70%;
  height: 3.4rem;
  background-color: whitesmoke;
  border-radius: 3rem;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.feedback-submit-case .submit-input input[type='text'] {
  width: 100%;
  padding: 1rem;
  height: 3.2rem;
  background-color: whitesmoke;
  border: none;
  position: absolute;
}
.feedback-submit-case .submit-input input[type='button'] {
  width: auto;
  height: 3rem;
  background-color: orange;
  border-radius: 3rem;
  padding-inline: 20px;
  position: absolute;
  font-weight: 900;
  border: none;
  cursor: pointer;
  right: 4px;
}

.fdbck {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  gap: 2rem;
  width: 100%;
  height: 100%;
  background-image: url('../images/Ellipse.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 1000px;
  @media (max-width: 768px) {
    background-position: bottom right;
    background-size: 800px;
  }
}
.bottom-big-circle {
  z-index: -1;
  position: absolute;
  bottom: 0;
  left: 0;
}
